*{  
    color: white;
    font-size: 32px;
}
body{
    background-color: #ddd;
}
.main {
    background: linear-gradient(orange,white,green);
    width: 400px;
    margin: 6vh auto;
    border-radius: 18px;
    padding: 10px;
    user-select: none;
} 
.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
}
input {
    height: 21%;
    width: 99%;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #0000009e;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.825);
    font-size: 2.0rem;
}
button{
    margin: 8px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.clear{
    height: 44px;
    font-size: 18px;
    border-radius: 16px;
    background-color: rgb(255, 0, 115) !important;
}
.grey{
    background-color: rgb(68, 64, 64);
}
.color{
    background-color: orange;
}
.lightgrey{
    background-color: rgb(176, 170, 170);
}
